<div class="main-weather">
    <div class="upper">
        <div class="row">
            <div class="col-md-4 border-left">
                <p>
                    <b>{{weather.name}},</b>
                    {{weather.sys.country}}
                </p>
                <p style="font-size: 20px">{{date}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="center-info">
                    <div>
                        <h1>
                            {{weather.main.temp}}
                            <div stlye="border-bottom: 2px solid #ffffff">
                                <span style="line-height: 50px; font-size: 20px">°C</span>
                                <span><i class="fas fa-sun" style="color: #fbd90f"></i></span>
                            </div>
                        </h1>
                        <div class="mid-line"></div>
                    </div>
                    <div>
                        <h2>{{weather.weather[0].description}}</h2>
                        <P>
                            <b>Presión</b>: {{weather.main.pressure}}
                            <b style="margin-left:10px;">Humedad</b>: {{weather.main.humidity}}%
                        </P>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</div>