<div class="main-weather">
    <div class="upper">
        <div class="row">
            <div class="col-md-4 border-left">
                <p>
                    <b>Bogota,</b>
                    Colombia
                </p>
                <p style="font-size: 20px">03 de sep. 2019</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="center-info">
                    <div>
                        <h1>
                            11  
                            <div stlye="border-bottom: 2px solid #ffffff">
                                <span style="line-height: 50px; font-size: 20px">°C</span>
                                <span><i class="fas fa-sun" style="color: #fbd90f"></i></span>
                            </div>
                        </h1>
                        <div class="mid-line"></div>
                    </div>
                    <div>
                        <h2>CIELO DESPEJADO</h2>
                        <P>
                            <b>Presión</b>: 1016
                            <b style="margin-left:10px;">Humedad</b>: 93%
                        </P>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</div>